# Exercises: Level 1

1.Declare an empty list

In [ ]:
empty_list = []

2.Declare a list with more than 5 items

In [1]:
five_items_list = [1, 2, 3, 4, 5]

3.Find the length of your list

In [2]:
len(five_items_list)  # This will return the length of the list

5

4.Get the first item, the middle item and the last item of the list

In [3]:
first_item = five_items_list[0]
middle_item = five_items_list[len(five_items_list) // 2]
last_item = five_items_list[-1]
print("First item:", first_item)
print("Middle item:", middle_item)
print("Last item:", last_item)

First item: 1
Middle item: 3
Last item: 5

5.Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ["patrick", 25, 5.11, "single", "123 Main St"]

6.Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [4]:
it_companies = ["Facebook", "Google", "Microsoft", "Apple", "IBM", "Oracle", "Amazon"]

7.Print the list using print()

In [5]:
print("IT Companies:", it_companies)

IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

8.Print the number of companies in the list

In [6]:
print(len(it_companies))  # This will print the number of companies in the list

7

9.Print the first, middle and last company

In [7]:
first_company = it_companies[0]
middle_company = it_companies[len(it_companies) // 2]
last_company = it_companies[-1]
print("First company:", first_company)
print("Middle company:", middle_company)
print("Last company:", last_company)

First company: Facebook
Middle company: Apple
Last company: Amazon

10.Print the list after modifying one of the companies

In [8]:
modified_companies = it_companies.copy()
modified_companies[0] = "Meta"
print("Modified companies:", modified_companies)

Modified companies: ['Meta', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

11.Add an IT company to it_companies

In [9]:
it_companies.append("Tesla")
print("Updated IT Companies:", it_companies)

Updated IT Companies: ['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'Tesla']

12.Insert an IT company in the middle of the companies list

In [10]:
it_companies.insert(len(it_companies) // 2, "Nvidia")
print("IT Companies after insertion:", it_companies)

IT Companies after insertion: ['Facebook', 'Google', 'Microsoft', 'Apple', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Tesla']

13.Change one of the it_companies names to uppercase (IBM excluded!)

In [15]:
it_companies[0] = it_companies[0].upper()  # Change the first company to uppercase, excluding IBM
print("Uppercase first company:", it_companies)

Uppercase first company: ['FACEBOOK', 'Google', 'Microsoft', 'Apple', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Tesla']

14.Join the it_companies with a string '#;  '

In [17]:
joined_companies = '#;  '.join(it_companies)
print(joined_companies)

FACEBOOK#;  Google#;  Microsoft#;  Apple#;  Nvidia#;  IBM#;  Oracle#;  Amazon#;  Tesla

15.Check if a certain company exists in the it_companies list.

In [18]:
company_to_check = "Apple"
exists = company_to_check in it_companies
print(f"Does {company_to_check} exist in the list? {exists}")

Does Apple exist in the list? True

16.Sort the list using sort() method

In [19]:
sorted_companies = it_companies.copy()
sorted_companies.sort() # Sort the list in ascending order
print("Sorted IT Companies:", sorted_companies)

Sorted IT Companies: ['Amazon', 'Apple', 'FACEBOOK', 'Google', 'IBM', 'Microsoft', 'Nvidia', 'Oracle', 'Tesla']

17.Reverse the list in descending order using reverse() method

In [20]:
reversed_companies = it_companies.copy()
reversed_companies.reverse()  # Reverse the list in place
print("Reversed IT Companies:", reversed_companies)

Reversed IT Companies: ['Tesla', 'Amazon', 'Oracle', 'IBM', 'Nvidia', 'Apple', 'Microsoft', 'Google', 'FACEBOOK']

18.Slice out the first 3 companies from the list

In [23]:
it_companies_first_three = it_companies[:3]
print("First three IT Companies:", it_companies_first_three)

First three IT Companies: ['FACEBOOK', 'Google', 'Microsoft']

19.Slice out the last 3 companies from the list

In [22]:
it_companies_last_three = it_companies[-3:]
print("Last three IT Companies:", it_companies_last_three)

Last three IT Companies: ['Oracle', 'Amazon', 'Tesla']

20.Slice out the middle IT company or companies from the list

In [24]:
# 计算中间位置的索引
middle_index = len(it_companies) // 2

# 如果列表长度是奇数，切片出一个元素；如果是偶数，切片出两个元素
if len(it_companies) % 2 == 1:
    middle_company = it_companies[middle_index]
else:
    middle_company = it_companies[middle_index - 1:middle_index + 1]

print("Middle company/companies:", middle_company)

Middle company/companies: Nvidia

21.Remove the first IT company from the list

In [26]:
it_companies_first_removed = it_companies.pop(0)  # Remove the first company
print("IT Companies after removing the first company:", it_companies)

IT Companies after removing the first company: ['Microsoft', 'Apple', 'Nvidia', 'IBM', 'Oracle', 'Amazon', 'Tesla']

22.Remove the middle IT company or companies from the list

In [27]:
# 计算中间位置的索引
middle_index = len(it_companies) // 2

# 如果列表长度是奇数，移除一个元素；如果是偶数，移除两个元素
if len(it_companies) % 2 == 1:
    it_companies.pop(middle_index)
else:
    del it_companies[middle_index - 1:middle_index + 1]

print("Updated IT Companies:", it_companies)

Updated IT Companies: ['Microsoft', 'Apple', 'Nvidia', 'Oracle', 'Amazon', 'Tesla']

23.Remove the last IT company from the list

In [28]:
it_companies_last_removed = it_companies.pop()  # Remove the last company
print("IT Companies after removing the last company:", it_companies)

IT Companies after removing the last company: ['Microsoft', 'Apple', 'Nvidia', 'Oracle', 'Amazon']

24.Remove all IT companies from the list

In [29]:
# 移除所有公司
it_companies.clear()
print("Updated IT Companies:", it_companies)

Updated IT Companies: []

25.Destroy the IT companies list

In [30]:
del it_companies  # Destroy the IT companies list
print("IT Companies list destroyed.")

IT Companies list destroyed.

26.Join the following lists:

In [32]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']
combined_stack = front_end + back_end
print("Combined stack:", combined_stack)

Combined stack: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27.After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.

In [33]:
combined_stack_copy = combined_stack.copy()
combined_stack_copy.insert(combined_stack_copy.index('Redux') + 1, 'Python')
combined_stack_copy.insert(combined_stack_copy.index('Redux') + 2, 'SQL')
print("Full stack after inserting Python and SQL:", combined_stack_copy)

Full stack after inserting Python and SQL: ['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'SQL', 'Node', 'Express', 'MongoDB']

# Exercises: Level 2

1.The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [36]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
# Sort the list and find the min and max age
ages.sort()
print("min age:", ages[0])
print("max age:", ages[-1])
# Add the min age and the max age again to the list
ages.append(ages[0])
ages.append(ages[-1])
print("Updated ages list:", ages)
# Find the median age (one middle item or two middle items divided by two)
middle_index = len(ages) // 2

if len(ages) % 2 == 1:
    median_age = ages[middle_index]
else:
    median_age = (ages[middle_index - 1] + ages[middle_index]) / 2

print("Median age:", median_age)
# Find the average age (the sum of all items divided by the number of items)
average_age = sum(ages) / len(ages)
print("Average age:", average_age)
# Find the range (max minus min)
age_range = ages[-1] - ages[0]
print("Age range:", age_range)
# Compare the value of (min - average) and (max - average), use abs() method
min_average_diff = abs(ages[0] - average_age)
max_average_diff = abs(ages[-1] - average_age)

print("Difference between min and average:", min_average_diff)
print("Difference between max and average:", max_average_diff)

min age: 19
max age: 26
Updated ages list: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 19]
Median age: 24.0
Average age: 22.166666666666668
Age range: 0
Difference between min and average: 3.166666666666668
Difference between max and average: 3.166666666666668

2.Find the middle country(ies) in the countries list

In [37]:
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];
middle_index = len(countries) // 2
if len(countries) % 2 == 1: 
    middle_country = countries[middle_index]
else:
    middle_country = countries[middle_index - 1:middle_index + 1]
print("Middle country:", middle_country)

Middle country: Lesotho

2.Divide the countries list into two equal lists if it is even if not one more country for the first half.

In [38]:
middle_index = len(countries) // 2
if len(countries) % 2 == 1:
    first_half = countries[:middle_index]
else:
    first_half = countries[:middle_index + 1]
second_half = countries[middle_index:]
print("First half:", first_half)
print("Second half:", second_half)

First half: ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon']
Second half: ['Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

3.['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.

In [39]:
countries = ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']

# 解包前三个国家
first, second, third, *scandic_countries = countries

print("First country:", first)
print("Second country:", second)
print("Third country:", third)
print("Scandic countries:", scandic_countries)

First country: China
Second country: Russia
Third country: USA
Scandic countries: ['Finland', 'Sweden', 'Norway', 'Denmark']