# Exercises: Level 1

1.Find the length of the set it_companies

In [9]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))

7

2.Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')  # Add 'Twitter' to it_companies
print(it_companies)

None

3.Insert multiple IT companies at once to the set it_companies

In [7]:
it_companies.update(['Telsa', 'Netflix', 'Spotify'])  # Insert multiple IT companies at once to the set it_companies
print(it_companies)

{'Spotify', 'Microsoft', 'Netflix', 'IBM', 'Telsa', 'Facebook', 'Oracle', 'Twitter', 'Google', 'Apple', 'Amazon'}

#

4.Remove one of the companies from the set it_companies

In [8]:
it_companies.pop()  # Remove one of the companies from the set it_companies
print(it_companies)

{'Microsoft', 'Netflix', 'IBM', 'Telsa', 'Facebook', 'Oracle', 'Twitter', 'Google', 'Apple', 'Amazon'}

5.What is the difference between remove and discard

In [12]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")  # ✅ Removes "banana"
fruits.remove("durian")  # ❌ KeyError: 'durian' (not in the set)

fruits.discard("banana")  # ✅ Removes "banana"
fruits.discard("durian")  # ✅ Does nothing (no error)

KeyError: 'durian'

# Exercises: Level 2

1.Join A and B

In [13]:
joined_set = A.union(B)  # Join A and B
print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}