# Exercises: Level 1

1.Find the length of the set it_companies

In [9]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(it_companies))

7

2.Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')  # Add 'Twitter' to it_companies
print(it_companies)

None

3.Insert multiple IT companies at once to the set it_companies

In [7]:
it_companies.update(['Telsa', 'Netflix', 'Spotify'])  # Insert multiple IT companies at once to the set it_companies
print(it_companies)

{'Spotify', 'Microsoft', 'Netflix', 'IBM', 'Telsa', 'Facebook', 'Oracle', 'Twitter', 'Google', 'Apple', 'Amazon'}

#

4.Remove one of the companies from the set it_companies

In [8]:
it_companies.pop()  # Remove one of the companies from the set it_companies
print(it_companies)

{'Microsoft', 'Netflix', 'IBM', 'Telsa', 'Facebook', 'Oracle', 'Twitter', 'Google', 'Apple', 'Amazon'}

5.What is the difference between remove and discard

In [12]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")  # ✅ Removes "banana"
fruits.remove("durian")  # ❌ KeyError: 'durian' (not in the set)

fruits.discard("banana")  # ✅ Removes "banana"
fruits.discard("durian")  # ✅ Does nothing (no error)

KeyError: 'durian'

# Exercises: Level 2

1.Join A and B

In [13]:
joined_set = A.union(B)  # Join A and B
print(joined_set)

{19, 20, 22, 24, 25, 26, 27, 28}

2.Find A intersection B

In [14]:
intersection_set = A.intersection(B)  # Find A intersection B
print(intersection_set)

{19, 20, 22, 24, 25, 26}

3.Is A subset of B

In [15]:
subset_check = A.issubset(B)  # Check if A is a subset of B
print(subset_check)

True

4.Are A and B disjoint sets

In [16]:
disjoint_check = A.isdisjoint(B)  # Check if A and B are disjoint sets
print(disjoint_check)

False

5.Join A with B and B with A

In [17]:
joined_a_b = A.union(B)  # Join A with B
joined_b_a = B.union(A)  # Join B with A    
print(joined_a_b)
print(joined_b_a)

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

6.What is the symmetric difference between A and B

In [18]:
symmetric_difference = A.symmetric_difference(B)  # Find the symmetric difference between A and B
print(symmetric_difference)

{27, 28}

7.Delete the sets completely

In [19]:
del A, B

# Exercises: Level 3

1.Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [20]:
age_set = set(age)  # Convert the ages to a set
print(len(age))  # Compare the length of the list and the set
print(len(age_set))

8
5

2.Explain the difference between the following data types: string, list, tuple and set
String: A string is a sequence of characters enclosed in quotes. It is immutable, meaning that its values cannot be changed once it is created.
List: A list is a collection of items that are ordered and changeable. It is mutable, meaning that its values can be changed once it is created.
Tuple: A tuple is a collection of items that are ordered and unchangeable. It is immutable, meaning that its values cannot be changed once it is created.

3.I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [21]:
sentence = "I am a teacher and I love to inspire and teach people."
unique_words = set(sentence.split())  # Split the sentence into words and convert to a set to get unique words
print(len(unique_words))

10