1.Create an empty dictionary called dog

In [1]:
dog = {}
print(dog)

{}

2.Add name, color, breed, legs, age to the dog dictionary

In [2]:
dog = {"name": "Buddy", "color": "Brown", "breed": "Golden Retriever", "legs": 4, "age": 3}
print(dog)

{'name': 'Buddy', 'color': 'Brown', 'breed': 'Golden Retriever', 'legs': 4, 'age': 3}

3.Create a student dictionary and add first_name, last_name, gender, age, marital status, skills, country, city and address as keys for the dictionary

In [3]:
student = {    
    "first_name": "John",
    "last_name": "Doe", 
    "gender": "Male",
    "age": 25,
    "marital_status": "Single",
    "skills": ["Python", "Java", "C++"],
    "country": "USA",
    "city": "New York",
    "address": "123 Main St"
}
print(student)

{'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'C++'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}

4.Get the length of the student dictionary

In [4]:
length_of_student_dict = len(student)
print(length_of_student_dict)

9

5.Get the value of skills and check the data type, it should be a list

In [5]:
skills = student["skills"]
print(type(skills))

<class 'list'>

6.Modify the skills values by adding one or two skills

In [6]:
student['skills'].extend(["JavaScript", "HTML"])
print(student["skills"])

['Python', 'Java', 'C++', 'JavaScript', 'HTML']

7.Get the dictionary keys as a list

In [7]:
dict_keys = list(student.keys())
print(dict_keys)

['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']

8.Get the dictionary values as a list

In [8]:
dict_values = list(student.values())
print(dict_values)

['John', 'Doe', 'Male', 25, 'Single', ['Python', 'Java', 'C++', 'JavaScript', 'HTML'], 'USA', 'New York', '123 Main St']

9.Change the dictionary to a list of tuples using items() method

In [9]:
items_list = list(student.items())
print(items_list)

[('first_name', 'John'), ('last_name', 'Doe'), ('gender', 'Male'), ('age', 25), ('marital_status', 'Single'), ('skills', ['Python', 'Java', 'C++', 'JavaScript', 'HTML']), ('country', 'USA'), ('city', 'New York'), ('address', '123 Main St')]

10.Delete one of the items in the dictionary

In [10]:
student.pop("marital_status")
print(student)

{'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 25, 'skills': ['Python', 'Java', 'C++', 'JavaScript', 'HTML'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}

11.Delete one of the dictionaries

In [12]:
del student
print(student)

NameError: name 'student' is not defined